<% include ../partials/header %>
<style>
   .icon-bar {
      right: 40px;
      position: fixed;
      top: 85%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-left: 120px;
   }

   .icon-bar a {
      display: block;
      text-align: center;
      padding: 15px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      border-radius: 50px;
      box-shadow: 2px 2px 3px #999;
   }

   .icon-bar a:hover {
      background-color: #000;
   }

   .button {
      margin-bottom: 5px;
   }

   .link {
      background: #3B5998;
      color: white;
   }

   .like {
      background: #ffdddd;
      color: white;
   }

   .comment {
      background: #2196f3;
      color: white;
   }

</style>
<div class="icon-bar">
   <a href="/post/<%= post._id %>" class="button link"><i class="fa fa-link"></i></a>
   <a href="#" class="button like"><i class="fa fa-heart"></i></a>
   <a href="#" class="button comment"><i class="fa fa-comments"></i></a>
</div>

<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="w3-card-4 w3-white">
         <img src="<%= post.image %>" width="100%" alt="<%= post.title %>">
         <div class="w3-container casual-card">
            <div class="w3-row">
               <p class="w3-jumbo">
                  <%= post.title %>
               </p>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="w3-panel w3-leftbar w3-sand">
                     <p class="w3-opacity">
                        <%= post.description %>
                     </p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <p class="w3-opacity w3-large">
                     <a href="/user/<%= post.author.id %>">
                        <%= post.author.username %></a> -
                     <%= post.displayDate %>
                  </p>
               </div>
            </div>
            <div class="w3-row">
               <% post.tags.forEach(function (tag) { %>
               <a class="w3-light-gray w3-large" href="/tag/<%= tag %>">
                  <%= tag %></a>
               <% }) %>
            </div>
            <hr>
            <div class="row">
               <div class="col-md-12">
                  <div class="w3-panel">
                     <%- post.content %>
                  </div>
               </div>
            </div>
            <div class="w3-row">
               <div class="w3-col m12">
                  <span class="w3-right like-comment-section">
                     <a href="/post/<%= post._id %>"> <i class="fa fa-heart"></i> <span class="w3-badge w3-pale-red notif">
                           <%= post.likes.length %></span></a>
                     <a href="/post/<%= post._id %>"> <i class="fa fa-comments"></i> <span class="w3-badge w3-blue notif">
                           <%= post.comments.length %></span></a>
                  </span>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right">
               <a href="/post">Back to Posts</a>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="/scripts/post/detail.js"></script>
<% include ../partials/footer %>